:root {
    --white: #ffffff;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

/*This is the css code for password.html*/

body {
    margin: 0;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}

.logo {
    width: 150px;
    margin-bottom: 50px;
    justify-self: center;
    display: none;
}

.title {
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}

.subtitle {
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}

.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 32px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}

.form {
    display: flex;
    flex-direction: column;
}

.primary-button {
    background-color: var(--hospital-green);
    height: 50px;
    border: none;
    border-radius: 8px;
    font-size: var(--md);
    font-weight: bold;
    color: var(--white);
    width: 100%;
    cursor: pointer;
}

.login-button {
    margin-top: 14px;
    margin-bottom: 32px;
}

@media (max-width: 480px) {
    .logo {
        display: block;
    }
}

/*This is the CSS code for emailsent.html*/

.emailsent {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.emailsent-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    justify-items: center;
}

.emailsent-button {
    background-color: var(--hospital-green);
    height: 50px;
    border: none;
    border-radius: 8px;
    font-size: var(--md);
    font-weight: bold;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    margin-top: 10%;
    margin-bottom: 2%;
}

.email-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-input-field);
    border-radius: 50%;
    margin-bottom: 5%;
    margin-top: 2%;
    width: 132px;
    height: 132px;
}

.email-icon img {
    width: 80px;
}

.footer-emailsent {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: var(--sm);
    margin-top: 5%;
}

.footer-emailsent span {
    color: var(--very-light-pink);
}

.footer-emailsent a {
    color: var(--hospital-green);
}

/* This is the CSS for the page login.html */

.login-menu {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}

.signup-button {
    background-color: transparent;
    height: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--hospital-green);
    border-radius: 8px;
    font-size: var(--md);
    font-weight: bold;
    color: var(--hospital-green);
    width: 100%;
    margin-top: 17%;
    cursor: pointer;
}

.login-menu a {
    font-size: var(--sm);
    color: var(--hospital-green);
    text-decoration: none;
    font-weight: bold;
}

.login-menu-form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}

.forgot-my-password {
    display: grid;
    place-items: center;
    margin-top: 2%;
}

.login-menu-form-container input {
    margin-bottom: 5%;
}

.login-button {
    margin-top: 7%;
}

.login-menu-input {
    color: var(--very-light-pink);
}

/* This is the CSS code for the page createaccount.html */

.body-create-account {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-account {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    width: 300px;
    height: 100vh;
}

.form-create-account {
    display: flex;
    flex-direction: column;
}

.form-create-account label {
    font-size: var(--sm);
    font-weight: bold;
    margin-top: 7%;
    margin-bottom: 2%;
}

.create-account h1 {
    font-size: var(--md);
    margin-top: 35%;
}

.input-create-account {
    height: 35px;
    border: none;
    border-radius: 8px;
    background-color: var(--text-input-field);
    color: var(--very-light-pink);
}

.save-button-create-account {
    height: 45px;
    border: none;
    border-radius: 8px;
    background-color: var(--hospital-green);
    color: var(--white);
    margin-top: 13%;
}

@media (max-width: 480px) {

    .create-account {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .create-account h1 {
        margin-top: 5%;
    }
}

/* This is the CSS code for the editaccount.html page */

.container-edit-account {
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: 100vh;
    width: 300px;
    margin: auto;
}

.container-edit-account h1 {
    font-size: var(--md);
    margin-bottom: 10%;
    margin-top: 30%;
}

.form-edit-account {
    display: flex;
    flex-direction: column;
}

.form-edit-account input {
    margin-bottom: 7%;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: var(--text-input-field);
    color: var(--very-light-pink);
}

.form-edit-account label {
    font-weight: bold;
    font-size: var(--sm);
    margin-bottom: 2%;
}

.edit-button-edit-account {
    height: 40px;
    border-radius: 8px;
    border-color: var(--hospital-green);
    border-width: 1px;
    background-color: var(--white);
    border-style: solid;
    cursor: pointer;
    margin-top: 6%;
    color: var(--hospital-green);
    font-weight: bold;
}

@media (max-width: 480px) {
    .container-edit-account h1 {
        font-size: var(--md);
        margin-bottom: 10%;
        margin-top: 0;
    }

    .edit-button-edit-account {
        height: 40px;
        border-radius: 8px;
        border-color: var(--hospital-green);
        border-width: 1px;
        background-color: var(--white);
        border-style: solid;
        cursor: pointer;
        margin-top: auto;
        color: var(--hospital-green);
        font-weight: bold;
    }
}

/* This is the CSS code for the home.html page */

.products-home-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    justify-content: space-around;
}

.product-card-home-page img:nth-child(1) {
    height: 240px;
    width: 240px;
    border-radius: 8%;
    object-fit: cover;
    object-position: center;
}

.product-description-home-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-description-home-page img {
    height: 35px;
    width: 35px;
}

.price-name-home-page p:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
    color: var(--black);
    margin-bottom: 0;
}

.price-name-home-page p:nth-child(2) {
    font-size: var(--sm);
    color: var(--very-light-pink);
    margin-top: 0;
}

/* This is the CSS code for the desktop-menu.html page */

.desktop-menu-container {
    padding: 0 20px 0 15px;
    border: 1px solid var(--very-light-pink);
    width: 130px;
    border-radius: 6px;
}

.orders-account-desktop-menu {
    list-style: none;
    display: grid;
    justify-content: end;
}

.orders-account-desktop-menu li a {
    display: inline-block;
    font-size: var(-md);
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    margin-bottom: 25px;
}

.sign-out-desktop-menu {
    display: grid;
    justify-content: end;
    list-style: none;
    border-top: 1px solid var(--very-light-pink);
}

.sign-out-desktop-menu li a {
    font-size: var(-sm);
    text-decoration: none;
    color: var(--hospital-green);
    font-weight: bold;
}

.sign-out-desktop-menu li {
    display: inline-block;
    margin: 8px 0 12px 0;
    padding-top: 15px;
}

/* This is the CSS code for the mobile_menu.html page */

.mobile-menu-container {
    display: grid;
    width: 300px;
    height: 100vh;
    border: 1px solid var(--very-light-pink);
    border-radius: 8px;
}

.categories-others-mobile-menu {
    list-style: none;
    padding: 0 0 0 30px;
}

.categories-others-mobile-menu li {
    margin-top: 20px;
}

.categories-others-mobile-menu li a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: var(--sm);
}

.orders-account-mobile-menu {
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    padding: 0 0 0 30px;
}

.orders-account-mobile-menu li {
    margin-top: 20px;
}

.orders-account-mobile-menu li a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: var(--md);
}

.email-signout-mobile-menu {
    list-style: none;
    display: inline-block;
    margin-top: 25px;
    padding: 0 0 0 30px;
}

.email-signout-mobile-menu li:nth-child(1) {
    color: var(--very-light-pink);
    text-decoration: none;
    font-weight: bold;
    font-size: var(--sm);
}

.email-signout-mobile-menu li a {
    text-decoration: none;
    font-weight: bold;
    font-size: var(--sm);
    color: var(--hospital-green);
}

/* This is the CSS code for the desktop version of My Orders page */

.body-myorders-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container-myorders-desktop {
    width: 450px;
    height: auto;
}

.main-container-myorders-desktop h1 {
    font-size: var(--md);
    margin: 75px 0 40px 0;
}

.details-myorders-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--text-input-field);
    border-radius: 10px;
    margin-bottom: 30px;
}

.date-articles-myorders-desktop {
    margin-left: 15px;
}

.date-articles-myorders-desktop p:nth-child(1) {
    margin-bottom: 0;
    font-size: var(--sm);
    font-weight: bold;
    color: var(--black);
}

.date-articles-myorders-desktop p:nth-child(2) {
    margin-top: 0;
    font-size: var(--sm);
    color: var(--very-light-pink);
    font-weight: bold;
}

.total-price-myorders-desktop {
    display: flex;
    align-items: center;
    font-size: var(--sm);
    font-weight: bold;
    color: var(--black);
    margin-right: 20px;
}

.container-products-myorders-desktop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.image-name-myorders-desktop {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.image-name-myorders-desktop p {
    font-size: var(--sm);
    color: var(--very-light-pink);
    max-width: 250px;
    line-height: 1.2;
}

.product-price-myorders-desktop {
    display: flex;
    align-items: center;
    font-size: var(--sm);
    font-weight: bold;
    color: var(--black);
    margin-right: 20px;
}

.image-name-myorders-desktop img {
    display: inline-block;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 17px;
}

/* This is the CSS code for the page My Orders for mobile devices */

.body-myorders-mobile {
    display: flex;
    justify-content: center;
}

.main-container-myorders-mobile {
    width: 330px;
}

.order-description-myorders-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--text-input-field);
    border-radius: 12px;
    margin-top: 18px;
    margin-bottom: 19px;
}

.date-articles-myorders-mobile {
    margin-left: 13px;
}

.date-articles-myorders-mobile p:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
    color: var(--black);
    margin-bottom: 0;
}

.date-articles-myorders-mobile p:nth-child(2) {
    font-size: var(--sm);
    color: var(--very-light-pink);
    font-weight: bold;
    margin-top: 0;
}

.total-price-myorders-mobile {
    font-size: var(--sm);
    font-weight: bold;
    color: var(--black);
    margin-right: 14px;
    display: flex;
    align-items: center;
}

.product-description-myorders-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.image-name-myorders-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image-name-myorders-mobile img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 17px;
}

.image-name-myorders-mobile p {
    font-size: var(--sm);
    color: var(--very-light-pink);
    margin-left: 15px;
    max-width: 150px;
    line-height: 1.2;
}

.product-price-myorders-mobile {
    font-size: var(--sm);
    font-weight: bold;
    color: var(--black);
    margin-right: 15px;
}